.contenier{
    width: max-content;
    font-family: arial, sans-serif;
    height: max-content;
    

}
.lph{
    left: 208px;
    position: relative;
}
.tn{
    position: relative;
    left: 300px;
    bottom: 80px;
    color: rgb(54, 51, 51);
}
.tns{
    font-size: 15px;
    color: rgb(54, 51, 51);
    position: relative;
    left: 230px;
    font-weight: bold;
}
.tns1{
    position: relative;
    left: -14px;
    bottom: 60px;


}
.tns2{
    position: relative;
    left: 90px;
    bottom: 92px;
}
.tns3{
    position: relative;
    left: 207px;
    bottom: 125px;

}
.tns4{
    position: relative;
    left: 340px;
    bottom: 157px;
}
.tns5{
    position: relative;
    left: 450px;
    bottom: 189px;
}
.tns6{
    position: relative;
    left: 580px;
    bottom: 222px;

}
.tns7{
    position: relative;
    left: 660px;
    bottom: 253px;
}
.tns8{
    position: relative;
    left: 760px;
    bottom: 285px;

}
.mainpic{
    background-image: url('../img/mpic.jpg') ;
    background-repeat: no-repeat;
    width: 1500px;
    height: 1500px;
    position: relative;
    bottom: 274px;
    left: -45px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;

}
.contenier{
    position: relative;
    left: 37px;
    
}
.mph1{
    position: relative;
    left: 400px;
}